# Gradle and build caches
.gradle/
.idea/
.kotlin/
local.properties
*.jks
*.keystore
*.hprof
bin/
**/bin/

# Intermediate builds
**/build/intermediates/
**/build/tmp/
**/build/kotlin/
**/build/generated/
**/build/reports/
**/build/test-results/
core/build/

# Keep APK outputs, ignore other build artifacts
build/*
app/build/*
!app/build/outputs/
app/build/outputs/*
!app/build/outputs/apk/
!app/build/outputs/apk/**
